{% include 'base.html.twig' %}

{% block body %}
	<!DOCTYPE html>
	<html>

		<head>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
	</html>
</head>
<style></style>

<body>
	<header class="py-5 bg-image-full" style="background-image: url('http://4everstatic.com/images/850xX/abstrait/fond-de-couleur-220805.jpg')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="images/logo.png" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">HackatWeb</h1>
                <p class="text-white-50 mb-0">Page d'Accueil</p>
            </div>
        </header>

		<section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Titre Article Hackatons</h2>
                        <p class="lead">Description hackaton</p>
                        <p class="mb-0">Description hackaton</p>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>

{% include 'footer.html.twig' %}

{% endblock %}
