<!DOCTYPE html>
{% include 'base.html.twig' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block body %}
    {% if app.user %}
    {% else %}
Veuillez cous connecter pour pouvoir vous inscrire à un hackathon
{% if Hackathon.datelimite > 'now'|date('d - m -Y') %}
{% else %}
la date limite est dépassé 
 
{% if Hackathon.nbplaces >0  %}

{% else  %}
Il n'y a plus de place disponible

{% endif %}

{% endif %}

{% endif %}
{% include 'footer.html.twig' %}
{% endblock %} 
</html>