<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
		<style></style>

		<body>
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="#">HackatWeb</a>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('ListeHack')}}">Liste des Hackathons</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<button type="button" class="btn btn-link">Connexion</button>
					<button type="button" class="btn btn-link">Inscription</button>
				</form>
			</div>
		</body>
	</head>
</html></nav></body></html>
